* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?55495295');
  src: url('font/fontello.eot?55495295#iefix') format('embedded-opentype'),
       url('font/fontello.woff2?55495295') format('woff2'),
       url('font/fontello.woff?55495295') format('woff'),
       url('font/fontello.ttf?55495295') format('truetype'),
       url('font/fontello.svg?55495295#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-edit:before { content: '\e800'; } /* '' */
.icon-trash-empty:before { content: '\e801'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-right-big:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-left-big:before { content: '\e806'; } /* '' */

:root {
  --mainColor: #242b82;
  --secondColor: #000;
}
body {
  font-family: 'Tajawal', sans-serif;
  position: relative;
  height: 100%;
  height: 100%;
  background-color: #eee;
}


/* width */
body::-webkit-scrollbar {
  width: 10px;
}
/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--mainColor);
}
/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--mainColor);
}
a, a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}


.bg-style {
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-style::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.chart-container {
  position: relative;
  margin: auto;
  width: 100%;
  background-color: #fff;
}
canvas {
  border: 1px dotted var(--mainColor);
}

.wrapper-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* START => Home Page */
.page-daily-inputs,
.home-page {
  position: relative;
  z-index: 1;
}
.logo img {
  max-height: 100px;
  display: block;
  margin: auto;
}
.link-item {
  margin-bottom: 1.5rem;
  padding: .5rem .2rem;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  box-shadow:  0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: 0.3s;
  font-size: 1.5rem;
  font-weight: bold;
}
.link-item:hover {
  color: #fff;
  box-shadow:  0 3px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--mainColor);
}
.link-item img {
  max-height: 60px;
}

.home-page hr {
  border-color: #999;
}

/* //END => Home Page */


/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/

/* START => Page */
.title {
  margin-bottom: 1rem;
}
.bredcrumps a,
.bredcrumps span {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: .5rem .8rem;
  border-radius: 10px;
  transition: 0.2s;
}
.bredcrumps a:hover,
.bredcrumps span:hover,
.bredcrumps span.active {
  background-color: var(--mainColor);
}

.all-costs,
.date-now {
  background-color: var(--mainColor);
  color: #fff;
  padding: .6rem .5rem .2rem .5rem;
  border-radius: 10px;
  text-align: center;
}

.title-table {
  margin-bottom: .5rem;
}
.title-table thead tr th {
  font-size: 1.3rem;
}
.title-table thead tr:nth-child(odd) {
  background-color: #90c226;
  color: #fff;
}
.title-table thead tr:nth-child(even) {
  background-color: #dbe9cc;
  color: #333;
}

.table-datatable > * {
  background-color: #fff;
}

.table-datatable thead {
  background-color: var(--mainColor);
  color: #fff;
}
.table-datatable tfoot{
  background-color: transparent;
}

#DataTables_Table_0_wrapper > .row:first-child {
  margin: 0;
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"],
#DyanmicTable_wrapper > .row:first-child > .col-md-6,
#DataTables_Table_1_wrapper > .row:first-child > .col-md-6,
#DataTables_Table_0_wrapper > .row:first-child > .col-md-6 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
.dataTables_wrapper .dataTables_filter {
  float: none;
}
div.dataTables_wrapper div.dataTables_filter label {
  margin: auto;
  display: block;
  width: 80%;
  font-weight: bold;
}
div.dataTables_wrapper div.dataTables_filter input {
  width: 80%;
  height: auto;
  padding: .6rem .5rem;
  background-color: #01579B;
  color: #fff;
  font-weight: bold;
}
.actions-btns a {
  color: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
}
.actions-btns a.btn-edits {
  background-color: dodgerblue;
}
.actions-btns a.btn-dels {
  background-color: #F00;
}

.btn-newadd a {
  background-color: dodgerblue;
  display: inline-block;
  padding: .6rem .5rem .2rem .5rem;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  opacity: .6;
  transition: .3s;
}
.btn-newadd a:hover {
  opacity: 1;
}
/* //END => Page */

/* START => Page */
.btn-exportexcel {
  background-color: var(--secondColor);
  transition: 0.3s;
}
.btn-exportexcel:hover {
  background-color: var(--mainColor);
  color: #fff;
}
#DyanmicTable #editing td {
  padding: .3rem;
}
#DyanmicTable #editing td .form-control {
  padding: .375rem .3rem;
  border-radius: 0;
}
/* //END => Page */

/* START => Page */
.page-projects table td a {
  color: #333;
  font-weight: bold;
}
.page-projects table td a:hover {
  color: var(--mainColor);
}

.table-noe {
  background-color: #fff;
}

.user-title {
  background-color: var(--mainColor);
  color: #fff;
  padding: 1rem;
  font-size: 1.8rem;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  width: 300px;
  border-radius: 30px;
}

.selectable select {
  border: 0;
}

.table th,
.table td {
  vertical-align: middle !important;
  font-size: 14px;
}

.pagination-months button {
  border: none;
  outline: none;

  background-color: dodgerblue;
  display: inline-block;
  padding: .6rem .5rem .2rem .5rem;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  transition: .3s;
}
.pagination-months button:hover {
  background-color: var(--mainColor);
}

.page-table-big table th,
.page-table-big table td {
  font-size: 1.5rem;
}

.search-months span {
  font-weight: bold;
  font-size: 1.2rem;
}
.search-months select.form-control {
  height: auto;
  padding: 1rem;
  box-shadow: unset;
}
.page-total-profits table thead {
  background-color: var(--mainColor);
  color: #fff;
}
.page-total-profits table thead th {}
/* //END => Page */

/* START => Page Login */
.page-login {
  width: 600px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: #fff;
  padding: 3rem;
  box-shadow: 0 5px 10px rgba(51, 51, 51, 0.3);
  border-radius: 10px;
  transition: 0.3s;
}
.page-login:hover {
  box-shadow: 0 5px 15px rgba(51, 51, 51, 0.5);
}
.page-login form .form-control {
  height: auto;
  padding: 1rem 1rem;
  border-radius: 30px;
  font-size: 2rem;
  font-family: monospace;
}
.page-login form button {
  border: none;
  outline: none;
  background-color: var(--mainColor);
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 1.5rem;
  opacity: .9;
  transition: 0.5s;
}
.page-login form button:hover {
  opacity: 1;
  box-shadow: 0 0 10px #333;
}
/* //END => Page Login */

/* START => Page */

/* //END => Page */