

  <div class="wrapper-container py-5">



    <div class="page-daily-inputs page-projects">
      <div class="container-fluid">
        <div class="title d-flex align-items-center justify-content-between">
          <div class="left">
            <div class="bredcrumps mb-4">
              <a href="javascript:void(0);"  [routerLink]="['']"> الرئيسية </a>
            </div>
          </div>

          <strong class="user-title text-center"> المشاريع </strong>

          <div class="right">
          <!-- <span class="h4 m-0 d-block all-costs mb-4"> الرصيد : 500.000 LE </span>  -->
            <a href="" class="h4 m-0 d-block all-costs btn-exportexcel"> تصدير Excel </a>
          </div>
        </div>

        <div class="table-responsive">
          <table id="dyanmictable" class="table-datatable table table-striped table-bordered text-center">
            <thead>
              <tr>
                <th>#</th>
                <th>ترتيب المشروع</th>
                <th> اسم المشروع </th>
                <th> اجمالى المنصرف </th>
                <th> اجمالى الوارد </th>

                <th>
                 <!-- <button [disabled]="disabled" id="addNewRow" class="btn btn-primary btn-sm" (click)="saveprojectschanges()">save changes</button> -->
                </th>
              </tr>
            </thead>
            <tbody id="tbody">
                <tr *ngFor="let item of projects; let i=index">
                    <td>
                      {{i+1}}
                    </td>
                    <td>
                      {{item.ordernumber}}
                    </td>
                    <td>
                     <a href="javascript:void(0);"  [routerLink]="['/project',item.id]"  >{{item.name}} </a>
                    </td>
                    <td>
                      {{item.expense}}
                    </td>
                    <td>
                      {{item.income}}
                    </td>

                    <td>
                      <button type="button" id="bEdit" class=" btn btn-sm btn-default" (click)="rowEdit(item);">
                        <span class="icon-edit"> </span>
                      </button>
                      <button type="button" id="bElim" class=" btn btn-sm btn-default" (click)="rowElim(item);">
                        <span class="icon-trash-empty"> </span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td class="">#</td>
                    <td style="min-width: 100px;" class="editthis"><input type="text" [(ngModel)]="projectordernumber" class="form-control"></td>
                    <td style="min-width: 200px;" class="editthis"><input type="text" [(ngModel)]="projectname" class="form-control"> </td>
                   <td>
                       0
                   </td>
                   <td>
                    0
                </td>
                    <td>
                      <div class="btn-group pull-right">
                        <button type="button" id="bAcep" class=" btn btn-sm btn-default" (click)="addproject(projectcurrentitemid,projectname,projectordernumber)"  >
                          <span class="icon-ok"> </span>
                        </button>

                      </div>
                      </td>
                  </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>

  </div>

