html, body {
  direction: rtl;
}

.page-daily-inputs,
.status-section {
  text-align: right;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem auto -1rem -1rem;
}